extends layout/_main

block title
  | House fix

block content
  section.big-box.container-fluid.parallax(style=`background-image: url(${imgPath}big-bg.jpg)`)
    .container
      .row
        p.big-text(contenteditable='true') Строительная компания
        p.big-text(contenteditable='true') Мы реализуем Ваши мечты
        p.small-text(contenteditable='true') Сервисный центр готов помочь всем вашим
        p.small-text(contenteditable='true') Ремонт и обслуживание оборудования.
        a.btn.btn-sun.text-center(href='#')(contenteditable='true') Заказать!

  section.features.container
    +heading(
    'Что мы делаем',
    'От полной работы «под ключ» до полной разработки проекта. Оставьте проблемы профессионалам.'
    )
    .row.between-sm
      -for(var i = 1; i <= 3; i++)
        +features(
        'Профессиональные строители',
        'От оценки вытяжного вентилятора до обзора чердачного пространства и очистки холодильных катушек, чтобы обеспечить вам безопасную жизнь.'
        )

  section.professional.container-fluid.parallax(style=`background-image: url(${imgPath}professional-bg.jpg)`)
    .container
      +heading(
      'Мы профессионалы',
      'Наша команда мастеров была создана в ответ на растущую потребность в высококачественном жилом и коммерческом пространстве в городе. С тех пор мы являемся одним из ведущих застройщиков, которые обслуживают потребности взыскательных клиентов.'
      )(class='col-sm-6')
        .description-container.row.col-xs-12.col-sm-7
          -for(var i = 0; i < 4; i++)
            p.description-text.relative.col-xs-12.col-md-6(contenteditable='true') Наш персонал - это специалисты, которые из года в год повышают свои навыки.

  section.counter.container
    .row.between-sm.text-center
      +counter('100%', 'Satisfaction Guaranteed')
      +counter('10', 'Years on Market')
      +counter('2 954', 'Happy Customers')
      +counter('3 597', 'Items of Equipment Repaired')

  section.services.container-fluid
    .container
      +heading(
      'Our Services',
      'Take a rest, while our professional team will do all job for you.'
      )
      .row
        -for(var i = 1; i <= 4; i++)
          .services-box-container.col-xs-12.col-sm-6.col-md-4
            a(href='#').top-box.relative
              +figure(`services.jpg`)
              .text-container.text-center
                p(contenteditable='true') Electrician
                  span(contenteditable='true') Services
            .description-container.text-center
              p.description(contenteditable='true') Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        .col-xs-12.text-center
          a.btn.btn-scelet.text-center(href='#')(contenteditable='true') See all services

  section.works.container-fluid
    .container
      +heading(
      'Our Works',
      'We let our quality work and commitment to customer satisfaction be our slogan.'
      )
    .row
      -for(var i = 1; i <= 4; i++)
        a.col-xs-12.col-sm-6.col-md-3.relative(data-fancybox='gallery', href=`${imgPath}works-${i}.jpg`)
          +img(`works-${i}.jpg`)(class='responsive-image')
      a.col-xs-12.relative(data-fancybox='gallery', href=`${imgPath}works-5.jpg`)
        +img('works-5.jpg')(class='responsive-image')

  section.customer.container
    +heading(
    'Happy Customer Testimonials',
    'Creating a sustainable future through building preservation, green architecture, and smart design.'
    )
    .row
      -for(var i = 0; i < 3; i++)
        .customer-container.col-xs-12.col-md-4
          p.description.relative(contenteditable='true') I highly recommend this company. I had a washer break down and they had it back up and running within 30 minutes of service call. The service men were very professional and prompt. If you have appliance damages, give them a call, they will surely repair.
          .name-container.row
            +figure('sandra.jpg')(class='col-xs-3')
            .text-container
              p.name(contenteditable='true') Sandra Mitchell
              span(contenteditable='true') Housewife

  section.send-form.container-fluid(style=`background-image: url(${imgPath}form-bg.jpg)`)
    .container
      .row.end-sm
        form.col-xs-12.col-sm-6
          h3.text-center(contenteditable='true') Get A Quick Quote
          p.text-center(contenteditable='true') Send us an email by entering your details and any comments you may have in the form.
          input(type='text', placeholder='Your Name')
          input(type='text', placeholder='Your E-mail*')
          textarea(placeholder='Message')
          input.btn.btn-sun.text-uppercase(type='submit', value='send')

  section.companys.container
    .row
      -for(var i = 0; i < 6; i++)
        .col-xs-12.col-sm-2
          a(href='#')
            +img('compony.png')(class='responsive-image')
