mixin img(file_name)
	img(src=imgPath + file_name, alt="")&attributes(attributes)

mixin figure(file_name)
	figure.image-container&attributes(attributes)
		+img(file_name)

mixin list-link(href, text, linkClass)
	li&attributes(attributes)
		if linkClass
			a(href=href, class=linkClass)= text
		else 
			a(href=href)= text

mixin heading(headingText, smallText)
	h2.h2.heading-text.col-xs-12(contenteditable='true')&attributes(attributes)= headingText
	p.small-text.col-xs-12(contenteditable='true')&attributes(attributes)= smallText
	if block
		block

mixin features(text, desc)
	.features-container.row.col-xs-12.col-md-4
		+figure(`features-${i}.jpg`)(class='col-xs-2')
		.text.col-xs-10
			h3.h3(contenteditable='true')= text
			p.small-text(contenteditable='true')= desc

mixin counter(number, text)
	.col-xs-12.col-sm-3
		p.number.relative(contenteditable='true')= number
		p.text(contenteditable='true')= text